<div class="jumbotron">
  <h2>Gnomes</h2>
</div>
<div class="container">
  <div class="row">
    <select class="col-md-2 form-control mr-3" (change)="hairColorFilter($event.target.value)" id="colorSelect">
      <option value=""> -- Hair color --</option>
      <option *ngFor="let color of hairColor">{{color}}</option>
    </select>
    <select class="col-md-2  form-control mr-3" (change)="professionFilter($event.target.value)" id="profSelect">
      <option (click)="resetGnomes()" value=""> -- Profession --</option>
      <option *ngFor="let profession of professions">{{profession}}</option>
    </select>
    <select class="col-md-2  form-control mr-3" (change)="ageFilter($event.target.value)" id="ageSelect">
      <option value=""> -- Select age range --</option>
      <option value="0-100"> 0 - 100 </option>
      <option value="100-200"> 100 - 200 </option>
      <option value="200-300"> 200 - 300 </option>
      <option value="300-500"> 300 or more </option>
    </select>
    <button type="button" class="col btn-success" (click)="resetGnomes()">Reset filters</button>
  </div>

  <div class="row mt-5">
    <div class="col-md-8">

      <div class="list-group mb-2" *ngFor="let gnome of gnomeList">
        <a (click)="loadDetail(gnome.id)" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{gnome.name}}</h5>
            <!-- <img class="imgCustom" src="{{gnome.thumbnail}}" alt=""> -->
            <small>Age: {{gnome.age}}</small>
          </div>
          <p class="mb-1">Gnome height: {{gnome.height}}</p>
        </a>
      </div>





      <div *ngIf="gnome">
        <div>
          <h3>Detail</h3>
          <p>Hair color: {{gnome.hair_color}}</p>
          <p>height: {{gnome.height}}</p>
          <p>weight: {{gnome.weight}}</p>
          <p>friends: {{gnome.friends}}</p>
          <p>professions: {{gnome.professions}}</p>
        </div>
      </div>
    </div>
  </div>